
body{
    background-image: url(Website-Header-Background-Image-6.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 150vh;
    width: auto;
}



.admissionbox{
    width: 820px;
    height:920px ;
    background-color: rgba(235, 210, 210, 0.312);
    position: absolute;
    top: 30px;
    left: 340px;
    border-radius: 10px;
    padding: 25px;
    }

    
h1{
    text-align: center;
    color: #f08804;
    letter-spacing: 2px;
   
    
      
}
body{
    
    background-repeat: no-repeat;
}
marquee{
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
    height: 30px;
}
p{
    color: rgba(97, 22, 22, 0.873);
    letter-spacing: 2px;
    font-family:Arial;
    
}

h2{
    color: black;
    font-size: 30px;
    letter-spacing: 2px;
}
h3{
    font-weight: bold;
    
}
 input{
    color:white;
    background-color:rgba(0,0,0,0.4);
    font-size: 17px;
    font-family: 'Times New Roman';
    border-radius: 8px;
    height: 40px;
    
    
 }  
 legend{
    color: black;
    font-size: 20px;
    font-family: Arial;
 } 
 td{
    color:black;
    font-size: 18px;
    font-family: Arial;
    
}
option{
    background-color:rgba(0,0,0,0.4)
    
}

center input{
    background-color: #f08804;
    width: 240px;
    height: 50px;
}

.agree input{
    height:30px;
    width: 50px;
    
    
}
.agree b{
    font-size: 25px;
    font-family: Arial;
    letter-spacing: 2px;
}
