*{
padding: 0%;
margin: 0%;
color: white;
}
body{
    
    background-image: url(Website-Header-Background-Image-6.png);
    background-repeat: no-repeat;
    background-size: cover;  
     
}

#navbar{
    height: 60px;
    
    
}
#navbar input{
    width: 170px;
    height: 25px;
    background:rgba(0, 0, 0, 0.5);
    font-size: 16px;
    border-color:white;    
}

#navbar button{
    width: 80px;
    height: 25px;
    border: 2px solid;
    font-size: 16px; 
    background-color: #f08804;
}
#navbar button:hover{
    background-color: rgba(0, 0, 0, 1);
}

#logo span{
    color: #f08804;
    font-size: 50px;
      
}

a{
    margin-right: 100px;
    text-decoration: none;  
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial ;
    letter-spacing: 1.2px;
    line-height: 30px;
}


.content span{
    color: #f08804;
    font-size: 60px;
}
.form{
    width: 250px;
    height:300px ;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    left: 1000px;
    border-radius: 10px;
    padding: 25px;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #f08804;
    font-size: 22px;
    background-color: #fff;
    margin: 2px;
    padding: 8px;
    border-radius: 10px;
    

}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom:1px solid #f08804;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 40px;
    font-family: sans-serif;
    text-align: center;
}
.btn{
    width: 240px;
    height: 40px;
    background: #f08804;
    border: none;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    

}
.btn:hover{
    background-color: rgba(0, 0, 0, 1);
}
